/* Wrapper */
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAF4D3; /* Frosted Mint */
  font-family: "Inter", sans-serif;
}

/* Card */
.login-card {
  width: 350px;
  background: #FFFFFF;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #DBD8AE; /* Soft border */
}

/* Title */
.login-card h3 {
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Labels */
.form-label {
  font-size: 14px;
  color: #444;
}

/* Inputs */
.form-control {
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #CA907E; /* Rosy Taupe */
}

/* Button */
.btn-login {
  background-color: #CA907E !important; /* Rosy Taupe */
  border: none;
  padding: 10px;
  font-weight: 500;
  border-radius: 6px;
}

.btn-login:hover {
  background-color: #994636 !important; /* Reddish Brown */
}

/* Register link */
.signup-text a {
  text-decoration: none;
  color: #895B1E; /* Golden Earth */
  font-weight: 500;
}

.signup-text a:hover {
  text-decoration: underline;
}
